Checks: >
    clang-analyzer-*,
    bugprone-*,
    cert-*,
    performance-*,
    portability-*,
    readability-*,
    misc-*,

WarningsAsErrors: >
    clang-analyzer-*,
    bugprone-*,
    cert-*,
    performance-*,
    portability-*,
    readability-*,
    misc-*,

HeaderFilterRegex: '.*portable_file_watcher\.hpp'
SystemHeaders: false
