Checks: >
    clang-analyzer-*,
    bugprone-*,
    cert-*,
    performance-*,
    portability-*,
    readability-*,
    misc-*,

WarningsAsErrors: >
    clang-analyzer-*,
    bugprone-*,
    cert-*,
    performance-*,
    portability-*,
    readability-*,
    misc-*,
